USE [master]
GO
/****** Object:  Database [ExamHallMangementSystemDB]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE DATABASE [ExamHallMangementSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamHallMangementSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ExamHallMangementSystemDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExamHallMangementSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ExamHallMangementSystemDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamHallMangementSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamHallMangementSystemDB]
GO
/****** Object:  Table [dbo].[AdminInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AdminInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AdminInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BuildingInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BuildingInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Room] [int] NOT NULL,
 CONSTRAINT [PK_BuildingInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [varchar](50) NOT NULL,
	[CourseName] [varchar](50) NOT NULL,
	[Credit] [int] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DepartmentInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepartmentInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DepartmentInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReserveHall]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReserveHall](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Room] [int] NOT NULL,
	[Building] [int] NOT NULL,
	[AvailableSeat] [int] NOT NULL,
	[Date] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Building] [int] NOT NULL,
	[Seat] [int] NOT NULL,
 CONSTRAINT [PK_RoomInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SeatPlan]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SeatPlan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Student] [int] NOT NULL,
	[Course] [int] NOT NULL,
	[Room] [int] NOT NULL,
	[Building] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Action] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SeatPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SemisterInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SemisterInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
 CONSTRAINT [PK_SemisterInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubjectTaken]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectTaken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Student] [int] NOT NULL,
	[Course] [int] NOT NULL,
 CONSTRAINT [PK_SubjectTaken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeacherInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TeacherInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Departrment] [int] NOT NULL,
 CONSTRAINT [PK_TeacherInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AdminInfo] ON 

INSERT [dbo].[AdminInfo] ([Id], [Code], [Name], [Password]) VALUES (1, N'A101', N'Diderul islam', N'103rt')
SET IDENTITY_INSERT [dbo].[AdminInfo] OFF
SET IDENTITY_INSERT [dbo].[BuildingInfo] ON 

INSERT [dbo].[BuildingInfo] ([Id], [Name], [Room]) VALUES (1, N'Science Building', 14)
SET IDENTITY_INSERT [dbo].[BuildingInfo] OFF
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [CourseId], [CourseName], [Credit]) VALUES (1, N'CSE101', N'Stucture Programming', 3)
INSERT [dbo].[Course] ([Id], [CourseId], [CourseName], [Credit]) VALUES (2, N'CSE201', N'Object Oriented Programming', 3)
INSERT [dbo].[Course] ([Id], [CourseId], [CourseName], [Credit]) VALUES (3, N'CSE301', N'Web Programming', 3)
SET IDENTITY_INSERT [dbo].[Course] OFF
SET IDENTITY_INSERT [dbo].[DepartmentInfo] ON 

INSERT [dbo].[DepartmentInfo] ([Id], [Name], [Code]) VALUES (1, N'Compter Science & Engineering', N'CSE')
INSERT [dbo].[DepartmentInfo] ([Id], [Name], [Code]) VALUES (2, N'Electrical & Electronics Engineering', N'EEE')
SET IDENTITY_INSERT [dbo].[DepartmentInfo] OFF
SET IDENTITY_INSERT [dbo].[ReserveHall] ON 

INSERT [dbo].[ReserveHall] ([Id], [Room], [Building], [AvailableSeat], [Date]) VALUES (1, 1, 1, 16, CAST(0x0000A94E00000000 AS DateTime))
INSERT [dbo].[ReserveHall] ([Id], [Room], [Building], [AvailableSeat], [Date]) VALUES (2, 1, 1, 0, CAST(0x0000A94F00000000 AS DateTime))
INSERT [dbo].[ReserveHall] ([Id], [Room], [Building], [AvailableSeat], [Date]) VALUES (3, 2, 1, 0, CAST(0x0000A94F00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[ReserveHall] OFF
SET IDENTITY_INSERT [dbo].[RoomInfo] ON 

INSERT [dbo].[RoomInfo] ([Id], [Code], [Building], [Seat]) VALUES (1, N'S101', 1, 16)
INSERT [dbo].[RoomInfo] ([Id], [Code], [Building], [Seat]) VALUES (2, N'S102', 1, 10)
SET IDENTITY_INSERT [dbo].[RoomInfo] OFF
SET IDENTITY_INSERT [dbo].[SeatPlan] ON 

INSERT [dbo].[SeatPlan] ([Id], [Student], [Course], [Room], [Building], [Date], [Action]) VALUES (1, 1, 1, 1, 1, CAST(0x0000A94F00000000 AS DateTime), N'1')
INSERT [dbo].[SeatPlan] ([Id], [Student], [Course], [Room], [Building], [Date], [Action]) VALUES (2, 1, 1, 2, 1, CAST(0x0000A94F00000000 AS DateTime), N'1')
INSERT [dbo].[SeatPlan] ([Id], [Student], [Course], [Room], [Building], [Date], [Action]) VALUES (3, 1, 4, 1, 1, CAST(0x0000A94F00000000 AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[SeatPlan] OFF
SET IDENTITY_INSERT [dbo].[SemisterInfo] ON 

INSERT [dbo].[SemisterInfo] ([Id], [Name], [Code]) VALUES (1, N'First Semister', N'1st')
INSERT [dbo].[SemisterInfo] ([Id], [Name], [Code]) VALUES (2, N'Second Semister', N'2nd')
INSERT [dbo].[SemisterInfo] ([Id], [Name], [Code]) VALUES (3, N'Third Semister', N'3rd')
SET IDENTITY_INSERT [dbo].[SemisterInfo] OFF
SET IDENTITY_INSERT [dbo].[StudentInfo] ON 

INSERT [dbo].[StudentInfo] ([Id], [StudentId], [Name], [Password]) VALUES (1, N'c153021', N'Diganta dey', N'diganta')
INSERT [dbo].[StudentInfo] ([Id], [StudentId], [Name], [Password]) VALUES (2, N'c153024', N'Md Sadman', N'sadman')
INSERT [dbo].[StudentInfo] ([Id], [StudentId], [Name], [Password]) VALUES (3, N'c153029', N'Robin das', N'Robin')
SET IDENTITY_INSERT [dbo].[StudentInfo] OFF
SET IDENTITY_INSERT [dbo].[SubjectTaken] ON 

INSERT [dbo].[SubjectTaken] ([Id], [Student], [Course]) VALUES (1, 1, 1)
INSERT [dbo].[SubjectTaken] ([Id], [Student], [Course]) VALUES (2, 1, 2)
INSERT [dbo].[SubjectTaken] ([Id], [Student], [Course]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[SubjectTaken] OFF
/****** Object:  Index [IX_AdminInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AdminInfo] ON [dbo].[AdminInfo]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuildingInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BuildingInfo] ON [dbo].[BuildingInfo]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Course] ON [dbo].[Course]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_1]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Course_1] ON [dbo].[Course]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RoomInfo] ON [dbo].[RoomInfo]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentInfo] ON [dbo].[StudentInfo]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherInfo]    Script Date: 9/15/2018 9:21:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TeacherInfo] ON [dbo].[TeacherInfo]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoomInfo]  WITH CHECK ADD  CONSTRAINT [FK_RoomInfo_BuildingInfo] FOREIGN KEY([Building])
REFERENCES [dbo].[BuildingInfo] ([Id])
GO
ALTER TABLE [dbo].[RoomInfo] CHECK CONSTRAINT [FK_RoomInfo_BuildingInfo]
GO
ALTER TABLE [dbo].[RoomInfo]  WITH CHECK ADD  CONSTRAINT [FK_RoomInfo_RoomInfo] FOREIGN KEY([Id])
REFERENCES [dbo].[RoomInfo] ([Id])
GO
ALTER TABLE [dbo].[RoomInfo] CHECK CONSTRAINT [FK_RoomInfo_RoomInfo]
GO
ALTER TABLE [dbo].[TeacherInfo]  WITH CHECK ADD  CONSTRAINT [FK_TeacherInfo_TeacherInfo] FOREIGN KEY([Departrment])
REFERENCES [dbo].[DepartmentInfo] ([Id])
GO
ALTER TABLE [dbo].[TeacherInfo] CHECK CONSTRAINT [FK_TeacherInfo_TeacherInfo]
GO
USE [master]
GO
